<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hun.test.mapper.FileMapper">

	<insert id="saveFile" parameterType="hun.test.dto.FileMngDto" useGeneratedKeys="true" keyProperty="file_seq">
		INSERT INTO tb_file_mng
		(
			origin_file_nm,
			file_path,
			file_ext,
			file_size,
			file_type,
			rel_table,
			rel_column,
			rel_pk,
			del_yn,
			crt_dt
		) VALUES (
			#{originFileNm}
			, #{filePath}
			, #{fileExt}
			, #{fileSize}
			, #{fileType}
			, #{relTable}
			, #{relColumn}
			, #{relPk}
			, #{delYn}
			, CURRENT_TIMESTAMP
		)
	</insert>
	
	<select id="selectFile" parameterType="hun.test.dto.FileMngDto" resultType="hun.test.dto.FileMngDto">
		SELECT
			file_seq
			, origin_file_nm
			, file_path
			, file_ext
			, file_size
			, file_type
			, rel_table
			, rel_column
			, rel_pk
			, del_yn
			, crt_dt
		FROM
			tb_file_mng
		WHERE
			file_seq = #{fileSeq}
			AND del_yn <![CDATA[<>]]> 'Y'
	</select>
	
	<update id="deleteFile" parameterType="hun.test.dto.FileMngDto">
		UPDATE
			tb_file_mng
		SET
			del_yn = 'Y'
			, udt_dt = CURRENT_TIMESTAMP
		WHERE
			file_seq = #{fileSeq}
	</update>
	
</mapper>